.container {
	background: #fafafa;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	padding: 0;
	margin-bottom: 2rem;
}

.container__header {
	border-bottom: 1px solid #eee;
	padding: 1rem;
	
}
.container__header label {
	font-size: 1rem;		
}

.container__message {
	color: #aaa;
	margin: 2rem;
	text-align: center;
}

.container__footer {
	padding: 1rem 1rem 0 1rem;
	border-top: 1px solid #eee;
}